@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  color: #fff;
  background: #000;
}

@font-face {
  font-family: RingBearer;
  font-weight: bold;
  src: url(/fonts/ringbearer/RINGM___.TTF);
}

@font-face {
  font-family: Bilbo;
  font-weight: bolder;
  src: url(/fonts/bilbo/Bilbo-Regular.ttf);
}

h1 {
  font-family: RingBearer;
  font-size: 3rem;
}

h2 {
  margin-left: 38px;
  font-family: Bilbo;
  font-size: 1.5rem;
  margin-top: -21px;
  margin-bottom: 1rem;
}

h3 {
  font-family: RingBearer;
  font-size: 1.5rem;
}

input {
  color: black;
}

.container {
  margin: 0 auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  padding: 3rem 6rem;
}

input {
  width: 100%;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.quote,
.movie-guess {
  margin-top: 2rem;
}

.quote,
.items {
  margin-bottom: 2rem;
}

.results {
  max-height: 300px;
  overflow-y: scroll;
}

.results > * {
  cursor: pointer;
}

.quoted-text {
  font-size: 2rem;
  margin-bottom: 1rem;
}

button.play,
button.submit,
button.play-again {
  color: black;
  background-color: #f5142e;
  font-size: 1.5em;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}

button.play,
button.play-again {
  margin-top: 2rem;
}

button.clear {
  color: black;
  background-color: #fff;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  font-size: 0.75em;
}

.your-guess:before {
  content: 'Your guess: ';
}

.correct-answer:before {
  content: 'Correct answer: ';
}

.guess-result:before {
  content: 'Result: ';
}

.your-guess:before,
.correct-answer:before,
.guess-result:before {
  color: white !important;
}

.guess-result.correct {
  color: green;
}

.guess-result.incorrect {
  color: red;
}

@media screen and (max-width: 990px) {
  .container {
    padding: 1rem 2rem 1rem 2rem;
  }
}
