@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: RingBearer;
  src: url(/fonts/ringbearer/RINGM___.TTF);
}

@font-face {
  font-family: Bilbo;
  src: url(/fonts/bilbo/Bilbo-Regular.ttf);
}

h1 {
  font-family: RingBearer;
  font-size: 3rem;
}

h2 {
  font-family: Bilbo;
  font-size: 1.5rem;
}

.container {
  padding: 1rem 2rem 1rem 2rem;
}
